/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  left: 10px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #adb5bd;}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-control {
  font-size: 12px;
  width: 173px;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn-container {
  margin-left: 50px;
}
.container {
  top: 100px;
  padding-left: 50px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  padding: 3rem;
}
.artist-title {
  margin-bottom: 20px;
}
.check-box {
  margin-top: auto;
  margin-bottom: 10px;
}
.flex-btn {
  display: flex;
  justify-content: space-between;
}
.container-image {
  width: 89%;
  height: 100%;
  position: fixed;
  background-image: url(https://sitecoreaudioprod.umusicpub.com/sitecore_media/5218ABBD-00AC-4C15-AF19-C459C8349802.jpg?cc=116201750118PM);
  opacity: 0.2;
  left: 213px;
  bottom: 0;
}
.btn-create{
  width: 85px;
}